*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.widthgh {
    width: 100%;
}

.head {
    color: #000000;
    display: flex;
    border: 1px #F1F6FF;
    background-color: #F1F6FF;
    border-width: auto;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.p1 {
    margin-left: 100px;
    font-size: 30px;
    font-family: Rage Italic;
    font-weight: 400;
    line-height: 37.69px;
    color: #000000;
    font-style: italic;
}

.head2 {
    color: inherit;
    display: block;
}

.head2 a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.head2 a:hover {
    color: aqua;
    background-color: transparent;
    text-decoration: underline;
}

.head2 a:active {
    border-bottom: 6px red solid;
    text-decoration: red;
}

.BOOK {
    color: #F20A0A;
    font-weight: 500;
    margin-right: 70px;
}

.home {
    color: black;
    font-weight: 500;
    margin: 0px 102px 0px 298px;
}

.ARTISTES {
    color: black;
    font-weight: 400;
    margin-right: 69px;
}

.music {
    color: black;
    font-weight: 400;
    margin-right: 98px;
}

.vid {
    color: black;
    font-weight: 400;
    margin-right: 91px;
}
.df{
    align-items: center;
    width: 1020px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    margin-left: 210px;
    border-bottom: 6px red solid;
    margin-top: 69px;
}
.derd{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 120px;
}
.frc{
    margin-bottom: 50px;
    display: flex;
    gap: 120px;
}
.xz{
    margin-bottom: 50px;
    display: flex;
    gap: 120px;
}
.rg{
    margin-bottom: 50px;
    display: flex;
    gap: 120px;
}
.ddd{
    margin-left: 210px;
    margin-right: 210px;
}
.yui{
    position: relative;
}
.kbs{
    background-color: #0c0b0b;
    width: 450px;
    height: 70px;
    position: absolute;
    color: white;
    bottom: -1px;
    border: 2px #222222E5 solid;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    opacity: 0.9;
    align-content: center;
}
.cuv{
    position: relative;
}
.cuv p{
    background-color: #0c0b0b;
    width: 450px;
    height: 70px;
    position: absolute;
    color: white;
    bottom: -1px;
    border: 2px #222222E5 solid;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    opacity: 0.9;
    align-content: center;
}
.frc3{
    position: relative;
}
.frc3 p{
    background-color: #0c0b0b;
    width: 450px;
    height: 70px;
    position: absolute;
    color: white;
    bottom: -1px;
    border: 2px #222222E5 solid;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    opacity: 0.9;
    align-content: center;
}
.dr{
    position: relative;
}
.dr p{
    background-color: #0c0b0b;
    width: 450px;
    height: 70px;
    position: absolute;
    color: white;
    bottom: -1px;
    border: 2px #222222E5 solid;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    opacity: 0.9;
    align-content: center;
}
.dg{
    position: relative;
}
.dg p{
    background-color: #0c0b0b;
    width: 450px;
    height: 70px;
    position: absolute;
    color: white;
    bottom: -1px;
    border: 2px #222222E5 solid;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    opacity: 0.9;
    align-content: center;
}
.dm{
    position: relative;
}
.dm p{
    background-color: #0c0b0b;
    width: 450px;
    height: 70px;
    position: absolute;
    color: white;
    bottom: -1px;
    border: 2px #222222E5 solid;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    opacity: 0.9;
    align-content: center;
}
.rg1{
    position: relative;
}
.rg1 p{
    background-color: #0c0b0b;
    width: 450px;
    height: 70px;
    position: absolute;
    color: white;
    bottom: -1px;
    border: 2px #222222E5 solid;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    opacity: 0.9;
    align-content: center;
}
.rg2{
    position: relative;
}
.rg2 p{
    background-color: #0c0b0b;
    width: 450px;
    height: 70px;
    position: absolute;
    color: white;
    bottom: -1px;
    border: 2px #222222E5 solid;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    opacity: 0.9;
    align-content: center;
}